body{
	width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

/*headerスタート*/
header{
	height: 70px;
	background-color: #d2b48c;
	position: relative;
	color: #fff;
}

.header-right{
	position: absolute;
	top: 10px;
	right: 20px;
}

.header-right li {
	background-color: #d2b48c;
	height: 40px;
	width: 40px;
	float: left;
	margin-left: 10px;

}

.header-right > li:first-child{
	margin-left: 0;
}

/*headerここまで*/


/*sideスタート*/
nav{
	float: left;
	position: relative;
	background-color: #f5deb3;
	width: 200px;
}

.cleafix{
	display: flex;
}

.cleafix::after{
	content: "";
	display: block;
	clear: both;
}


nav li {
	font-size: 20px;
	color: #8b4513;
	line-height:5;
	font-family: 'Permanent Marker', cursive;
	margin-left: 10px;
	letter-spacing: 0.1em;
}

/*sideここまで*/

/*main スタート*/
main{
	height: 500px;
	width: 800px;
	background-image: url("IMG_2905.JPG");
	background-size: 100%;
}

.bg_test-text{
	display: inline-block;/* インラインブロックにする */
	padding: 20px 30px;/*余白指定 */
	background-color: rgba(255, 255, 255, 0.4);/* 背景色指定 */
	color: #a0522d;
	font-size: 45px;
	font-family: 'Londrinas Shadow', cursive;
	font-weight: 10px;
}

.bg_test{
	text-align: center;
	padding:  70px;
}

/*picture スタート*/
.img-box {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.img-box li img{
	height: 300px;
	width: 300px;
	margin-left: 10px;
	margin-right: 5px; 
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

span{
	font-size: 30px;
	color: #8b4513;
	font-family: 'Permanent Marker', cursive;

}

/*contact*/
.contact{
	text-align: center;
	background-color: #f5deb3;
	font-size: 30px;
	height: 350px;
	/*display: flex;
	flex-direction: column;
	justify-content: center;*/
	padding-top: 20px;
}

h2{
	color: #fff;
}

.form{
	display: flex;
	justify-content: center;
}

.form .name ,.form .email{
	height: 50px;
	width: 400px;
	font-size: 16px;
	box-sizing: border-box;
}

.form-left{
	margin-right: 50px;
}

.inquiry{
	height: 120px;
	width: 400px;
	font-size: 16px;
	box-sizing: border-box;
}

.form .name{
	margin-bottom: 20px;
}

.contact .form{
	margin: 50px 0 40px;
}

.contact button {
	background-color: #a9a9a9;
	color: #fff;
	border:3px solid #c0c0c0;
	border-radius: 10px;
	font-size: 24px;
	padding: 15px 30px;
	box-sizing: border-box;
}

/*---------contact　ここまで-----------*/

/*footer スタート*/
footer{
	background-color: #d2b48c;
	height: 30px;
	width: 1000px;
	color: #696969;
}
/*footer ここまで*/

/*レスポンシブ対応*/

/*小型pc用*/
@media screen and (max-width: 1280px) {
	.img-box li{
		margin-right: 30px;
	}

/*タブレット用*/
@media screen and (max-width: 960px){

.img-box{
	flex-wrap: wrap;
	justify-content: space-around;
}

.contact .form{
	flex-flow: column nowrap;
	margin:30px 0;
}

.form .name, .form .email ,.form .inquiry {
	width: 70%;
}

.form .name, .form .email {
	height: 40px;
}

.form .inquiry{
	height: 70px;
}

.form-left{
	margin-right: 0;
}


.form-right{
	margin-top: 20px;

}

.img-box li:last-child {
	margin-top: 30px;
	margin-right: 0;
}

.contact button {
	font-size: 20px;
	padding: 5px 40px;
	margin-bottom: 20px;
}

}

/*スマホ用*/
@media screen and (max-width: 480px){
body {
	min-width: 375px;
}

.header-right li{
	margin-left: 10px;
}

.main{
	order: -1;
}

.cleafix{
	flex-direction: row;
}

	/*curriculm*/

.img-box{
	flex-flow: column nowrap;
}

.img-box li{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 0;
	margin-top: 30px;
}

.img-box li img{
	height: 750px;
	width: 750px;
}

.img-box li:first-child{
	margin-top: 0;
}

.img-box li span{
	font-size: 70px;
	margin-top: 20px;
}

	/*contact*/
.contact .form{
	flex-flow: column nowrap;
	margin:30px 0;
}

.form .name, .form .email ,.form .inquiry {
	width: 50%;
}

.form .name, .form .email {
	height: 30px;
}

.form .inquiry{
	height: 50px;
}

.form-left{
	margin-right: 0;
}

.form-right{
	margin-top: 20px;

}

.contact button {
	font-size: 20px;
	padding: 5px 40px;
}

	/*footer*/
footer {
	display: flex;
	justify-content: left;
}

